* {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.navigation {
    position: relative;
}

.navigation.active {
	z-index: 1;
}

.navigation-stage {
	display: block;
    white-space: nowrap;
    text-align: left;
    width: 9999999em;
    overflow: hidden;
    padding-left: 50px;
    height: 265px;
    transition: ease 0.3s;
}

.navigation .button {
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	font-weight: bold;
	border: none;
	position: absolute;
	width: 50px;
	height: 265px
}

.navigation .button.l {
	left: 0px;
	top: 0px;
}

.navigation .button.r {
	right: 0px;
	top: 0px;
}

.navigation .button.u {
	top: -70px;
	left: 0px;
	right: 0px;
	width: 100%;
	margin: auto;
	height: 70px;
}

.navigation .button.d {
	bottom: -70px;
	left: 0px;
	right: 0px;
	width: 100%;
	margin: auto;
	height: 70px;
}

a {
	display: inline-block;
    background: #ccc;
    color: black;
    text-align: center;
    line-height: 265px;
    text-decoration: none;
    height: 265px;
    width: 175px;
    margin: 0 15px;
    float: none;
}

a:hover {
	background: rgba(255, 0, 0, 0.3);
	border: none;
	outline: none;
}

a:focus {
	background: red;
	color: #FFF;
	border: none;
	outline: none;
}