body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Navigation {
	display: block;
	clear: both;
	overflow: hidden;
}

a {
	display: block;
	width: 40px;
	height: 40px;
	background: #ccc;
	color: black;
	float: left;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
}

a:hover {
	background: rgba(255, 0, 0, 0.3);
	border: none;
	outline: none;
}

a:focus {
	background: red;
	color: #FFF;
	border: none;
	outline: none;
}